<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mirpur Dental Supply{% endblock %}</title>
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Alpine.js via CDN -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block extra_css %}{% endblock %}
    <style>
        /* Base styles that apply to all pages */
        {% block base_styles %}{% endblock %}
    </style>
</head>
<body class="bg-gray-100 text-gray-900">

    {% include 'Homepage/header.html' %}

    <main class="container mx-auto mt-8 p-4">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>
    {% comment %} footer {% endcomment %}
    {% include 'Homepage/footer.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>